In [1]:
import pandas as pd

In [2]:
org_data = pd.read_excel('/Users/sinjhanghuang/Documents/碩士畢業論文/柏凱聯合論文/柏凱合作文章2011-2015（整合版）/lpcr2comp2_all_data.xlsx')
org_data

,FacilityID,PackageID,TargetCompany,LoanType,PrimaryPurpose,SecondaryPurpose,FacilityAmt,Currency,ExchangeRate,FacilityStartDate,...,TobinQ,lg_TobinQ,logmvasset,lg_logmvasset,COGStoSales,lg_COGStoSales,roa1,lg_roa1,lg_sale,lg2_sale
0,7715,5006,NaN,Revolver/Term Loan,Work. cap.,Corp. purposes,10000000.0,United States Dollars,1.0,01/11/1990,...,1.0808,1.3917,6.017718,6.292893,0.7846,0.7574,0.0562,0.0982,444.875,406.360
1,9756,6460,NaN,Revolver/Line >= 1 Yr.,Corp. purposes,NaN,30000000.0,United States Dollars,1.0,04/16/1991,...,1.0201,1.0808,5.999714,6.017718,0.7833,0.7846,0.0345,0.0562,466.542,444.875
2,11662,7970,NaN,Revolver/Term Loan,Corp. purposes,Debt Repay.,30000000.0,United States Dollars,1.0,10/15/1991,...,1.0201,1.0808,5.999714,6.017718,0.7833,0.7846,0.0345,0.0562,466.542,444.875
3,45532,34433,NaN,Revolver/Term Loan,Debt Repay.,NaN,30000000.0,United States Dollars,1.0,09/09/1996,...,1.5572,1.3410,6.714958,6.375309,0.7950,0.8002,0.0623,0.0520,504.990,451.395
4,45541,34441,NaN,Revolver/Term Loan,Debt Repay.,Corp. purposes,30000000.0,United States Dollars,1.0,10/07/1996,...,1.5572,1.3410,6.714958,6.375309,0.7950,0.8002,0.0623,0.0520,504.990,451.395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60990,330733,234876,NaN,Term Loan A,Corp. purposes,NaN,975000000.0,United States Dollars,1.0,10/15/2014,...,3.6273,3.1714,8.897298,8.744985,0.5596,0.5761,0.1329,0.1104,2093.500,2046.600
60991,331142,234876,NaN,Revolver/Line >= 1 Yr.,Corp. purposes,NaN,100000000.0,United States Dollars,1.0,10/15/2014,...,3.6273,3.1714,8.897298,8.744985,0.5596,0.5761,0.1329,0.1104,2093.500,2046.600
60992,347655,246460,NaN,Revolver/Line >= 1 Yr.,Corp. purposes,NaN,400000000.0,United States Dollars,1.0,09/30/2015,...,3.7559,3.6273,9.057577,8.897298,0.5478,0.5596,0.0916,0.1329,2118.300,2093.500
60993,347656,246460,NaN,Term Loan A,Corp. purposes,NaN,938437000.0,United States Dollars,1.0,09/30/2015,...,3.7559,3.6273,9.057577,8.897298,0.5478,0.5596,0.0916,0.1329,2118.300,2093.500
60994,347657,246460,NaN,Revolver/Line >= 1 Yr.,Corp. purposes,NaN,100000000.0,United States Dollars,1.0,09/30/2015,...,3.7559,3.6273,9.057577,8.897298,0.5478,0.5596,0.0916,0.1329,2118.300,2093.500

In [3]:
reg_data = pd.read_csv('/Users/sinjhanghuang/Documents/碩士畢業論文/柏凱聯合論文/NLTK sentiment/回歸結果_new.csv')
reg_data

,FacilityID,average_1-30,average_1-60,average_1-90,average_1-120,average_1-150,average_1-180,Spread_new,AT,FacilityAmt,...,purpose3,purpose4,purpose5,profitability,tangibility,leverage,2011,2012,2013,2014
0,287475,NaN,NaN,NaN,NaN,0.000000,0.000000,5.521461,6.058125,19.113828,...,0,0,0,0.0729,0.0917,0.4638,0,0,0,0
1,296578,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,4.248495,9.734832,20.723266,...,0,0,0,0.1412,0.1237,0.2253,0,0,0,0
2,304768,1.000000,1.000000,1.000000,0.714286,0.600000,0.590909,5.959716,8.845759,20.030119,...,1,0,0,0.1630,0.2818,0.8290,0,0,0,0
3,283613,NaN,NaN,NaN,1.000000,1.000000,1.000000,5.298317,9.210651,18.826146,...,0,0,0,0.1904,0.4874,0.2821,0,0,0,0
4,299111,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,5.616771,7.940587,19.336971,...,0,0,0,0.2055,0.5154,0.5706,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2950,319085,-0.333333,0.250000,0.333333,0.384615,0.466667,0.529412,5.010635,9.648531,21.128731,...,0,0,0,0.2019,0.2125,0.1573,0,0,0,0
2951,337378,1.000000,0.000000,0.000000,-0.333333,-0.333333,0.200000,5.783825,10.198431,21.253894,...,0,0,0,0.0967,0.3765,0.6348,0,0,0,0
2952,317916,-1.000000,0.285714,0.500000,0.666667,0.633333,0.694444,4.442651,11.904927,22.140841,...,0,0,0,0.1231,0.2726,0.4910,0,0,0,0
2953,337393,0.882353,0.866667,0.842105,0.866667,0.809524,0.815789,5.783825,10.798851,21.311053,...,0,0,0,0.1108,0.0294,0.6359,0,0,0,0
2954,318358,-0.333333,0.000000,0.333333,0.555556,0.636364,0.692308,5.616771,9.089669,20.863028,...,0,0,0,0.1417,0.2360,0.6369,0,0,0,0

In [7]:
print(reg_data['average_1-30'].mean())
print(reg_data['average_1-60'].mean())
print(reg_data['average_1-90'].mean())
print(reg_data['average_1-120'].mean())
print(reg_data['average_1-150'].mean())
print(reg_data['average_1-180'].mean())

0.6681628007598076
0.6730617716180863
0.6764136111518944
0.6810021403638794
0.6806051739455873
0.6795705928058853

In [18]:
pd.set_option('precision', 4)
reg_data[['average_1-30','average_1-60','average_1-90','average_1-120','average_1-150','average_1-180']].describe()

,average_1-30,average_1-60,average_1-90,average_1-120,average_1-150,average_1-180
count,1718.0000,2231.0000,2542.0000,2720.0000,2848.0000,2943.0000
mean,0.6682,0.6731,0.6764,0.6810,0.6806,0.6796
std,0.5368,0.5077,0.4907,0.4661,0.4545,0.4474
min,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000
25%,0.5000,0.5000,0.5000,0.5000,0.5000,0.5000
50%,1.0000,1.0000,0.9611,0.8808,0.8571,0.8333
75%,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
max,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000

In [15]:
reg_data.describe()

,FacilityID,average_1-30,average_1-60,average_1-90,average_1-120,average_1-150,average_1-180,Spread_new,AT,FacilityAmt,...,purpose3,purpose4,purpose5,profitability,tangibility,leverage,2011,2012,2013,2014
count,2955.0000,1718.0000,2231.0000,2542.0000,2720.0000,2848.0000,2943.0000,2955.0000,2955.0000,2955.0000,...,2955.0000,2955.0000,2955.0000,2953.0000,2951.0000,2948.0000,2955.0,2955.0,2955.0,2955.0
mean,313164.2887,0.6682,0.6731,0.6764,0.6810,0.6806,0.6796,5.2159,8.5482,19.9444,...,0.0372,0.0518,0.0037,0.1173,0.2941,0.3650,0.0,0.0,0.0,0.0
std,23912.4501,0.5368,0.5077,0.4907,0.4661,0.4545,0.4474,0.6349,1.5415,1.2515,...,0.1893,0.2216,0.0609,0.1417,0.2549,0.2434,0.0,0.0,0.0,0.0
min,264570.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-0.3567,3.0788,13.6048,...,0.0000,0.0000,0.0000,-4.4102,0.0000,0.0000,0.0,0.0,0.0,0.0
25%,291621.5000,0.5000,0.5000,0.5000,0.5000,0.5000,0.5000,4.8283,7.4998,19.1138,...,0.0000,0.0000,0.0000,0.0828,0.0874,0.2117,0.0,0.0,0.0,0.0
50%,319303.0000,1.0000,1.0000,0.9611,0.8808,0.8571,0.8333,5.1648,8.5508,20.0301,...,0.0000,0.0000,0.0000,0.1146,0.2073,0.3284,0.0,0.0,0.0,0.0
75%,334181.5000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,5.6168,9.5474,20.7238,...,0.0000,0.0000,0.0000,0.1576,0.4496,0.4871,0.0,0.0,0.0,0.0
max,350160.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,7.0901,13.4832,24.0191,...,1.0000,1.0000,1.0000,0.8682,0.9729,4.7549,0.0,0.0,0.0,0.0